<!DOCTYPE html> 
<html>
	<head>
		<title>Phronesis</title>

		<!-- META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}"/>
		<link rel="stylesheet" type="text/css" href="{{ static_url("js/vendor/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css") }}"/>
		

		<!-- JS -->
		<script src="http://code.jquery.com/jquery-2.1.0.min.js" charset="utf-8"></script>
		<script src="{{ static_url("js/vendor/bower_components/jquery-ui/jquery-ui.min.js") }}" charset="utf-8"></script>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" charset="utf-8"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js" charset="utf-8"></script>
	</head>
	<body>
		{% block content %}
		{% end %}
	</body>
</html>